/* root color */

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --title-dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --tranform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    letter-spacing: 0.02em;
    color: var(--text);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
    transition: color var(--tranform);


}

.link:hover,
.link:focus {
    color: var(--pressed-state);
}

.link:hover .logo-studio {
    color: var(--pressed-state);
}

.link:focus .logo-studio {
    color: var(--pressed-state);
}

.container {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0 auto;
    outline: 2px solid red;
}

/* ----------------------navigations------------------ */
.header {
    padding: 24px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}



.logo {

    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}

.logo-studio {
    color: var(--title-dark);

}

.header-button {

    display: block;
    padding: 24px;
    margin-left: auto;
    border: none;

    background-color: #FFF;

}

.header-button-svg {
    fill: var(--title-dark);
    stroke: var(--title-dark);
}

.header-thumb {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 24px;

    background-color: #fff;
}

.header-thumb.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.header-button-close {
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-bottom: 32px;
    background-color: rgba(232, 234, 252, 0.1);

    border: 1px solid #2E2F42;
    border-radius: 50%;
}

.modal-close-icon {
    display: block;
}

.nav-wrap {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.nav {
    display: block;
}

.nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.nav-item-link {
    display: block;

    color: var(--title-dark);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.active.nav-item-link {
    color: var(--pressed-state);
}

.adress {
    display: block;
}

.adress-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px 0;
    margin-bottom: 48px;
}


.adress-link.fone {
    display: block;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.adress-link.mail {
    display: block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text);

}

/*  /* ----------------------Hero----------------- */


.hero {}

.overley {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overley>.container {
    padding-top: 54px;
    padding-bottom: 54px;

}




.hero-title {

    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--tranform);

    font-family: 'Roboto', sans-serif;
    background: var(--primary-brand);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-style: inherit;
    border: transparent;
}

.button:hover,
.button:focus {
    background-color: var(--pressed-state);
}

/* ------------------advantages----------------- */
.adv {
    padding: 96px 0;
}

.adv-item-bg {
    display: none;
}

.adv-item-title {
    margin-bottom: 8px;

    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.adv-item-text {
    font-size: 16px;
    line-height: 1.5;
}

.adv-item:not(:last-child) {
    margin-bottom: 72px;
}

/* ---------------our works--------------- */
.ourwork {
    display: none;
}

/* ------------------out team------------------- */
.team {
    padding: 96px 0;
    background-color: var(--light);
}

.team-title {
    margin-bottom: 72px;

    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

}


.team-item {
    background: #FFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

.team-photo {
    margin-left: auto;
    margin-right: auto;
}

.team-box {
    padding: 32px 16px;
}

.team-sect-title {
    margin-bottom: 8px;

    color: var(--title-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}

.soc-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.soc-link {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: block;
    transition: background-color var(--tranform);

}

.team-soc-icon {
    fill: var(--light);
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--pressed-state);
}

/* ------------------customers--------------- */
.customers {
    padding: 96px 0;
}

.customers-title {
    margin-bottom: 72px;

    color: var(--title-dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    gap: 72px 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.customers-item {}

.customers-link {
    padding: 16px 40px;
    width: 190px;
    transition: border var(--tranform), border-radius var(--tranform);
    display: block;
    text-align: center;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;

}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--pressed-state);
    border-radius: 4px;

}

.customers-icon {
    transition: fill var(--tranform);
    fill: var(--subtle-text);
}

.customers-link:hover .customers-icon {
    fill: var(--pressed-state);
}


.customers-link:focus .customers-icon {
    fill: var(--pressed-state);
}

/* -------------------footer------------- */
.footer {
    padding: 96px 0;
    background-color: var(--title-dark);
}

.social {
    margin-bottom: 72px;
}

.footer-logo {
    margin-bottom: 16px;
    display: block;

    font-family: "Raleway", sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.footer-logo-studio {
    color: var(--light);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link:hover .footer-logo-studio {
    color: var(--pressed-state);
}

.link:focus .footer-logo-studio {
    color: var(--pressed-state);
}

.footer-text {

    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;

}

.footer-soc-title {
    margin-bottom: 16px;

    color: #FFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}

.footer .soc-list {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.footer .soc-link {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: block;
    transition: background-color var(--tranform);

}

.footer .soc-link:hover,
.footer .soc-link:focus {
    background-color: var(--pressed-state);
}

.footer-soc-icon {
    fill: var(--light);
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form-label {
    display: block;
    margin-bottom: 16px;
}

.footer-form-input {
    width: 100%;
    height: 40px;
    background-color: inherit;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFF;

}

.footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFF;
}

.footer-form-button {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    transition: background-color var(--tranform);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFF;
    background-color: var(--primary-brand);
    border: 1px;
    border-color: transparent;
    border-radius: 4px;

}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--pressed-state);
}

.footer-button-icon {
    fill: #FFF;
}